[run]
branch = False

[report]
exclude_lines =
    # keep the standard pragma
    pragma: no cover

    # skip abstract methods
    @(abc\.)?abstract

    # debug-only code
    def __repr__

    # defensive code
    raise NotImplementedError
