[run]
branch = False

[report]
exclude_lines =
    # keep the standard pragma
    pragma: no cover

    # skip abstract methods
    @(abc\.)?abstract

    # Python 2.x compatibility stuff
    if six.PY2:
    if six.PY3:
    def __nonzero__

    # debug-only code
    def __repr__

    # defensive code
    raise NotImplementedError
