-r requirements.txt
pytest
pytest-cov
# We need a patched version of pytest-order to run on 3.5 and handle parameterized tests
git+https://github.com/SecurityInnovation/pytest-order.git@07ceb36233fb083275f34d5c8abbd3e35cd00158#egg=pytest-order
flake8
pep8-naming
# NOTE: gpg is not here on purpose currently
