#!/usr/bin/make -f

export PYBUILD_NAME = pgpy

%:
	dh $@ --with python3 --buildsystem pybuild

override_dh_installchangelogs:
	dh_installchangelogs docs/source/changelog.rst

# https://github.com/SecurityInnovation/PGPy/issues/173
override_dh_auto_test:
	LC_ALL=C.UTF-8 dh_auto_test -O--buildsystem=pybuild
